* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&family=Markazi+Text&display=swap');

.header {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  height: 5.5rem;
  margin: 0 0 0 10%;
}

.header .logo {
  margin-left: 10%;
  display: flex;
}
.logo > img {
  width: 290px;
}
.navbar {
  display: flex;
}
.navbar ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  margin-left: 0.2rem;
}
.navbar ul a {
  text-decoration: none;

  width: 56px;
  /* height: 28px; */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: black;
}

.navbar li {
  margin-left: 2rem;
}

main {
  height: 24rem;
  width: auto;
  /* display: flex; */
}
.hero {
  background-color: #495e57;
  display: flex;
  height: 23rem;
  justify-content: space-evenly;
}
#ll-header {
  font-family: 'Markazi Text';
  margin-top: 12px;
  font-weight: 500;
  font-size: 3rem;
  line-height: 67px;
  color: #f4ce14;
}
#ll-header ~ h2 {
  font-family: 'Markazi Text';
  color: white;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 38px;
}
.hero main {
  /* width: 13rem; */
  height: auto;
  margin-right: -50px;
  font-family: 'Karla';
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 29px;
  color: white;
  margin-bottom: 2rem;
}
.hero img {
  margin-top: 2rem;
  width: 373px;
  height: 377px;
  object-fit: cover;
  border-radius: 16px;
}
.specials {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 5rem auto;
  margin-top: 8rem;
  margin-bottom: 3rem;
  padding: 0 12vw;
}
.specials > h1 {
  font-family: 'Markazi Text';
  margin-top: 12px;
  font-weight: 700;
  font-size: 3rem;
  line-height: 67px;
  color: black;
  grid-column: 1 / 3;
}
.card {
  margin-top: 4rem;
  background-color: #edefee;
  grid-row: 2;
  margin: 0 1rem;
  padding-bottom: 1.5rem;
  border-radius: 16px 16px 0 0;
}
.card-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.card-text {
  padding: 0 1rem 0 1rem;
  margin-top: 1rem;
  height: 11rem;
}
.order-button > a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: auto;
}
.card h1 {
  font-family: 'Markazi Text';
  font-size: 1.4rem;
  max-width: fit-content;
  display: contents;
  margin-top: 0.5rem;
}
.card h2 {
  color: #ee9972;
  font-size: 1rem;
  float: right;
  margin-top: 0.2rem;
}
.card p {
  margin: 1rem 0 1rem 0;
}
.card:nth-child(n) {
  font-family: 'Karla';
}
.specials > .button {
  grid-column: 3;
  justify-self: end;
  margin-right: 1rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 13rem 13rem 13rem 13rem;
  grid-template-rows: auto auto;
  justify-content: center;
  background-color: #d9d9d9;
  padding: 2rem 0rem 4rem;
}

.testimonials > h1 {
  grid-row: 1;
  grid-column: 2 / 3;
  font-family: 'Markazi Text';
  margin-left: 70%;
  margin-bottom: 2rem;
}

.testimonial-card {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 3;
  grid-row: 2;
  background-color: white;
  margin-right: 1.5rem;
  font-family: 'Karla';
  padding: 1rem;
}

.testimonial-card img {
  width: 75px;
  grid-row: 2;
  margin-top: 1rem;
}
.testimonial-card h3 {
  grid-row: 2;
  font-weight: 900;
  margin-top: 1rem;
}
.testimonial-card p {
  grid-row: 3;
  grid-column: 1/3;
  font-size: 0.9rem;
  margin: 0.5rem;
}
.about {
  margin: 1rem 10%;
  display: grid;
  grid-template-columns: 50vw 30vw;
  grid-template-rows: 8rem 3rem 10rem;
}

.about h1,
h2 {
  font-family: 'Markazi Text';
}
.about h1 {
  grid-row: 1;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.about h2 {
  grid-row: 2;
  font-size: 2.7rem;
  font-weight: normal;
}

.about p {
  grid-row: 3;
  font-family: 'Karla';
  font-size: 1.3rem;
  font-weight: 700;
  padding-right: 2rem;
}

.about > img:nth-child(4) {
  position: relative;
}

.about img ~ img {
  width: 300px;
  grid-column: 2;
  margin-left: 7rem;
  margin-top: 4rem;
}
.about img {
  width: 300px;
  grid-column: 2;
}

.footer {
  margin-top: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  background-color: #d9d9d9;
  padding-left: 10%;
  align-items: center;
  font-family: 'Karla';
  flex-wrap: initial;
  align-items: flex-start;
}
.footer header {
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-weight: 900;
  font-size: 1.2rem;
  color: #495e57;
}
.footer ul {
  margin-left: 3rem;
  list-style: none;
}
.footer a,
li {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}
.footer > img {
  width: 160px;
  object-fit: cover;
}

.footer-list {
  margin-right: 5rem;
}

.booking {
  background-color: #495e57;
  display: flex;
  flex-direction: column;
  font-family: 'Karla';
  align-items: flex-start;
  color: white;
  font-size: 1.3rem;
  padding: 3rem;
  padding-left: 35%;
}
.booking h2 {
  margin-bottom: 2.5rem;
}
.booking h3 {
  margin-bottom: 1.5rem;
  font-weight: 500;
}
.booking-form {
  display: grid;
  min-width: 250px;
  max-width: 250px;
  gap: 20px;
}
.booking-form label {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
/* .booking-form  option: {
  color: red;
  box-shadow: 0 0 10px 100px #1882A8 inset;

} */
.booking-form select,
option,
input {
  font-family: 'Karla';
  border-radius: 4px;
  border-width: 0;
  /* display: none */
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
}

/* .booking-form option:checked {
  color: black;
  background-color: blue;
} */

#form-submit {
  padding-bottom: 17%;
}
#form-submit:disabled {
  background-color: #d9d9d9;
}

.confirmed {
  background-color: #495e57;
}
.confirmed h1 {
  font-family: 'Markazi Text';
  font-weight: 400;
  font-size: 3.5rem;
  color: #f4ce14;
  padding: 3rem
}
.confirmed p {
  font-family: 'Karla';
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  padding-left: 3rem;
}
.confirmed .button {
  margin: 3rem;
}

.button {
  display: block;
  width: fit-content;
  height: 25px;
  text-decoration: none;
  font-family: Karla;
  font-size: 1.2rem;
  font-weight: 900;
  color: black;
  background-color: #f4ce14;
  padding: 1.2rem 2.5rem;
  border-radius: 16px;
}

.error {
  font-size: 0.9rem;
  color: red;
  margin-top: -10px;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1023px) {
  .hamburger {
    display: flex;
  }
  .hamburger > img {
    margin-left: -2.8rem;
    z-index: 1;
    position: absolute;
  }

  img#true {
    position: fixed;
  }

  .sidebar {
    background-color: #edefee;
    width: 13rem;
    position: fixed;
    height: 100%;
    margin-top: -4rem;
    margin-left: -6.1rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }
  #true {
    transform: translateX(0);
  }

  .sidebar ul {
    list-style: none;
    display: grid;
    margin-left: 0.2rem;
    margin-top: 7rem;
  }
  .sidebar ul a {
    text-decoration: none;

    width: 56px;
    /* height: 28px; */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: black;
  }

  .sidebar li {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  .navbar {
    display: none;
  }

  .hero {
    background-color: #495e57;
    display: flex;
    height: 23rem;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 6rem;
    padding-left: 10%;
  }

  #ll-header {
    /* margin-top: 12rem; */
    font-family: 'Markazi Text';
    font-weight: 500;
    font-size: 3rem;
    line-height: 67px;
    color: #f4ce14;
  }
  #ll-header ~ h2 {
    font-family: 'Markazi Text';
    color: white;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 38px;
  }

  .hero main {
    /* width: 13rem; */
    /* margin-top: 50rem; */
    height: auto;
    margin-right: -50px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 29px;
    color: white;
    margin-bottom: 2rem;
  }
  .hero img {
    margin-top: 2rem;
    width: 373px;
    height: 170px;
    object-fit: cover;
    border-radius: 16px;
  }

  .specials {
    padding: 10rem 0rem 0rem 1rem;
    grid-template-rows: 13rem auto auto auto;
    grid-template-columns: auto auto;
    margin: 10vw;
  }
  .card {
    grid-column: span 3;
    grid-row: auto;
    margin: 1rem 1rem;
    padding-bottom: 1.5rem;
    border-radius: 16px 16px 0 0;
  }
  .testimonials {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    justify-content: center;
    background-color: #d9d9d9;
    padding: 2rem 0rem 4rem;
  }
  .testimonials > h1 {
    grid-row: 1;
    grid-column: 1;
    font-family: 'Markazi Text';
    margin-left: 39%;
    margin-bottom: 2rem;
  }
  .testimonial-card {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    grid-row: auto;
    margin: 1rem 5rem;

    background-color: white;
    font-family: 'Karla';
    padding: 1rem;
  }
  .about {
    margin: 1rem 10%;
    display: flex;
    flex-direction: column;
  }
  .about > img:nth-child(4) {
    position: relative;
  }

  .about p {
    font-family: 'Karla';
    font-size: 1.3rem;
    font-weight: 700;
    padding-right: 2rem;
    margin-bottom: 2rem;
  }

  .about img ~ img {
    display: none;
    width: 300px;
    margin-left: 17rem;
    margin-top: -8rem;
  }
  .about img {
    width: 300px;
  }
  .footer {
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    background-color: #d9d9d9;
    padding-left: 10%;
    align-items: center;
    font-family: 'Karla';
    align-items: flex-start;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
  .footer header {
    margin-left: 0rem;
    margin-bottom: 2rem;
    font-weight: 900;
    font-size: 1.2rem;
    color: #495e57;
  }
  .footer ul {
    margin-left: 0rem;
    list-style: none;
    margin-bottom: 3rem;
  }
  .footer a,
  li {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
  }
  .footer > img {
    width: 120px;
    object-fit: cover;
  }

  .footer-list {
    margin-right: 5rem;
  }
}
